table {
    border-collapse: collapse;
}
th {
    text-align: center;
    background-color: orange;
    width: 30px;
    height: 30px;
}
td {
    width: 30px;
    height: 30px;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}