* {
    box-sizing: border-box;
}
.header {
    background-color: lightblue;
    color:royalblue;
    padding: 10px;
    text-align: center;
}
.navbar {
    background-color: lightsalmon;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 30%;
    text-decoration: none;
}
.navbar a:hover {
    background-color: aquamarine;
    color: azure;
    font-weight: bold;
}
.column {
    float: left;
    text-align: center;
}
.column.left {
    width: 50%;  
}
.column.right {
    width: 50%;
}
.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
}
h2 {
    background-color: violet;
    padding: 10px;
    margin: 10px;
}
p {
    text-align: left;
    padding: 10px;
    margin: 10px;
}