* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
#age, #income {
    width: 600px;
}
ul, li {
    padding-bottom: 20px;
    /* padding-left: 5px; */
}
.question {
    font-weight: bold;
}
#dollar {
    width: 50px;
}
#cent {
    width: 17px;
}
#opinion {
    width: 90%;
    height: 100px;
}
#othertext {
    margin-left: 24px;
}
#dollarlabel, #centlabel {
    font-size: small;
    margin-left: 16px;
}
p {
    font-size: small;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
td {
    text-align: center;
    width: 128px;
}
th {
    width: 300px;
}
.tableheader {
    background-color: #e6e6e6;
}
#submit {
    font-size: large;
}
